body {
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.app-root {
  min-height: 100vh;
  background: #0c0c0c;
  position: relative;
}

.centered-logo-container {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 2;
}

.centered-logo-img {
  max-width: 60vw;
  max-height: 60vh;
  width: 100%;
  height: auto;
  display: block;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.read-the-docs {
  color: #888;
}
