.pricing-page-title{
    font-size: 6rem;
    font-weight: 500;
    color: #000;
    position: absolute;
    left: 1.5rem;
    top: 3.5rem;
}

.pre-order-button{
    position: absolute;
    top: 11.5rem;
    left: 1.5rem;
    color: grey;
    background-color: white;
    border: 0.1rem solid darkgrey;
    font-size: 1.3rem;
    padding: 1rem 1rem 1rem 2.5rem;
    border-radius: 3rem;
}


.offer-background{
    position: absolute;
    top: 20rem;
    left: 20rem;
    z-index: 0;
}


.offer-text{
    width: 25rem;
    align-content: center;
    position: absolute;
    top: 22rem;
    left: 21.5rem;
}

.offer-text-title{
    font-size: 1.5rem;
    font-weight: 650;
    color: #000;
    margin-bottom: 1rem;
}

.offer-text-price{
    font-size: 3.5rem;
    font-weight: 650;
}

.offer-text-info{
    font-weight: 550;
}

.offer-text-image{
    position: absolute;
    bottom: -12rem;
}


.offer-description{
    width: 25rem;
    position: absolute;
    right: 45rem;
    top: 22rem;
    z-index: 10;
}

.offer-description-title{
    font-size: 1.5rem;
    font-family: sans-serif;
    padding-right: 20rem;
    margin-bottom: 5rem;
}

.offer-description-points{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.offer-description-point{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.offer-description-point-text{
    font-family: sans-serif;
}